.background {
    background-color: #303030;
    height: 100vh;
    background-image: url("../Signup/images/ellipse-right.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-left: 10%;
}